# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.next/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Prisma
database/prisma/migrations/

# Local environment
.env
*.env
.env.*

# IDE
.vscode/
.idea/

# Keys / Models / sensitive
ml/model/
ml/trained/
backend/keys/
worker/keys/
secrets/

# Logs
logs/
*.log

# Redis / Postgres
database/redis-data/
database/postgres-data/

# Build
build/
.cache/
